DirectoryIndex index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]


# Set the headers for the restful api
# Header always set Access-Control-Allow-Origin http://localhost:4200
# Header always set Access-Control-Max-Age "1000"
# Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
# Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"