.content{padding: 0px !important;}

h1,h2,h3,h4,h5,h6{margin: 5px 0px 3px 0px;}
h3{
margin-top: 5px !important;
}
.yes{
    font-size:20px;
    color:green;
  }
  .no{
    font-size:20px;
    color:red
  }
.container{
    max-width: 800px;
    border: 1px solid #580100;
    overflow: hidden;
    padding: 10px;
}
.header{
width: 100%;
border: 1px solid #580100;
}
.Clogo{
width: 120px;
float: left;
padding:8px;
}
.Cname{
padding-top: 20px;
width: 100%;
height: 80px;
}
.cnheading{
margin: 2px;
font-size: 19px;
font-weight: bold;
}
.ftitle{
width: 100%;
height: 25px;
background-color: #580100;
color: #fff;
display:flex;
justify-content: space-around;
align-items: center;
}

.ftitle > div{
display: inline-block;
}
.userSec{
max-width: 800px;
height: auto;
display: flex;
}

.primary-bg{
background-color: #B2B2B2;
font-size: 20px;
}
.fixed-assets table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
background-color: #F3F3F3;
}

.fixed-assets td, th {
text-align: left;
padding: 1px 0px 1px 0px;
border: 1px solid #ddd;
}
